// About section styles go here

.about {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	.about-image {
		background-color: white;
	}
	.about-text {
		background-color: $offWhite;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

// split sections styles
.half {
	width: 50%;
}
// wrapper for half sections
.split-wrapper {
	max-width: 540px;
	width: 80%;
}
.split-right {
	margin-right: 20%;
	padding-left: 75px;
}
.split-left {
	margin-left: 20%;
	padding-right: 75px;
}