// header styles
header {
	background-size: cover;
	background-position: 50%;
	background-color: $lightGrey;
	background-attachment: fixed;
	@media(max-width: 600px) {
		background-attachment: scroll;
	}
}
.header_top {
	padding: 0px 10%;
	width: 100%;
	z-index: 10;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	transition: 0.5s background-color;
	height: 80px;
	@media(max-width: 940px) {
		flex-direction: column;
		padding: 0;
		background-color: white;
		top: -100%;
		height: 100%;
		justify-content: center;
		transition: 1s all ease;
		position: fixed;
	}
}
.header-logo {
	width: 60px;
	height: 60px;
}
.main-nav {
	max-width: 600px;
	width: 100%;
	ul {
		justify-content: space-between;
		display: flex;
		flex-direction: row;
		@media(max-width: 940px) {
			flex-direction: column;
			text-align: center;
		}
	}
	li {
		display: flex;
		padding: 0;
		height: 100%;
		padding: 0 10px;
		justify-content: center;
		&:hover a:after {
			width: 40px;
		}
	}
	a {
		color: $mainGrey;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		padding: 20px 0;
		display: block;
		&:hover, &:focus {
			color: $accent;
		}
	}
	a:after {
		content: '';
		width: 0px;
		height: 2px;
		margin-top: 5px;
		background-color: $accent;
		display: block;
		transition: 0.3s all;
	}
}

// sticky nav style
.fixed {
	background-color: $white;
	position: fixed;
	top: 0;
}

// Toggle menu for smaller screen 
input.toggle-checkbox {
	display: none;
}

// Nav slides out from the top
.show {
	top: 0;
}

// styles for hamburger menu
.toggle-label {
	color: $accent;
	position: fixed;
	z-index: 100;
	top: 40px;
	right: 40px;
	font-size: 30px;
	display: none;
	@media(max-width: 940px) {
		display: block;
	}
	@media(max-width: 500px) {
		top: 20px;
		right: 26px;
	}
}

.header-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 81px);
	@media(max-width: 940px) {
		height: 100vh;
	}
	h1 {
		font-size: 2rem;
	    text-transform: uppercase;
	    letter-spacing: 1rem;
	    line-height: 1.4em;
	    margin: 0;
	    @media(max-width: 500px) {
	    	font-size: 1.6rem;
	    }
	}
	p {
		line-height: 1.6rem;
		margin-top: 5px;
		margin-bottom: 30px;
		font-size: 1.1rem;
		letter-spacing: 0.1rem;
		@media(max-width: 500px) {
			font-size: 1.4rem;
		}
	}
}


.accent-button {
	background-color: $accent;
	border: 2px solid $accent;
	color: white;
	font-size: 0.9rem;
	text-transform: uppercase;
	padding: 10px 25px;
	letter-spacing: 0.1rem;
	&:focus, &:hover {
		background-color: transparent;
		color: $accent;
		outline: none;
	}
}
.header-text {
	width: 50%;
	margin-left: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@media(max-width: 600px) {
		width: 80%;
		margin-left: 20%;
	}
}