// skills section styles go here

.skills {
	display: flex;
	flex-direction: row;
	.skills-text {
		background-color: red;
		padding: 150px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.skills-image {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.skills-item-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.skills-item {
			width: 25%;
		}
	}
}